@{
    ViewData["Title"] = "Home Page";
}
<p>This is my home page of bulky Book solution</p>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Age </th>
    </tr>
    </thead>

<tbody>
     <tr @for (var i = 0; i < 5; i++)
        {
         <td>
             
        </td>  
        <td>
           i Ashad
        </td>
         <td>
           i Ashad
        </td>
        }
     
    </tr>

</tbody>
</table>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
